{% extends "master.html" %}
{% block title %}Crear Matrícula{% endblock %}

{% block content %}
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-8 col-xl-6 mx-auto">
        <h4 class="text-center mb-5">Crear Matrícula</h4>

        <form method="post" class="custom-form contact-form" role="form">
          {% csrf_token %}
          {{ formulario.as_p }}

          <button type="submit"
                  class="custom-btn d-block mx-auto px-5 py-2 mt-4">
            Agregar
          </button>
        </form>

        <a href="{% url 'index' %}"
           class="btn btn-primary btn-sm d-block mx-auto mt-4">
          Inicio
        </a>

      </div>
    </div>
  </div>
</section>
{% endblock %}
