{% extends "master.html" %}
{% block title %}Detalle Matrícula{% endblock %}

{% block content %}
<section class="section-padding">
  <div class="container">

    <h4 class="mb-4">Detalle de Matrícula</h4>

    <ul class="list-group list-group-flush mb-4 shadow-sm rounded">
      <li class="list-group-item"><strong>Estudiante:</strong> {{ matricula.estudiante }}</li>
      <li class="list-group-item"><strong>Módulo:</strong> {{ matricula.modulo }}</li>
      <li class="list-group-item"><strong>Comentario:</strong> {{ matricula.comentario }}</li>
      <li class="list-group-item"><strong>Costo:</strong> {{ matricula.costo }}</li>
    </ul>

    <a href="{% url 'index' %}" class="btn btn-primary btn-sm me-2">Inicio</a>
  </div>
</section>
{% endblock %}
