{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
    rel="stylesheet">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/templatemo-topic-listing.css' %}" rel="stylesheet">

  {% block extra_css %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body id="top">

  <main>

    <!-- HEADER / NAVBAR -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">

        <a class="navbar-brand" href="{% url 'index' %}">
          <i class="bi-back"></i>
          <span>Matriculas</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-lg-5 me-lg-auto">
            <li class="nav-item menu-item"><a href="{% url 'index' %}" class="nav-link click-scroll">Home</a>
            </li>
            <li class="nav-item menu-item"><a href="{% url 'crear_matricula' %}" class="nav-link click-scroll">Crear
                Matrícula</a></li>
            <li class="nav-item menu-item"><a href="{% url 'crear_modulo' %}" class="nav-link click-scroll">Crear
                Módulo</a></li>
            <li class="nav-item menu-item"><a href="{% url 'crear_estudiante' %}" class="nav-link click-scroll">Crear
                Estudiante</a></li>
            <li class="nav-item menu-item"><a href="{% url 'estudiantes' %}" class="nav-link click-scroll">Listar
                Estudiantes</a></li>
            <li class="nav-item menu-item"><a href="{% url 'modulos' %}" class="nav-link click-scroll">Listar
                Módulos</a></li>
          </ul>
        </div>


      </div>
    </nav>
    <!-- FIN HEADER -->

    <!--HERO / CONTENEDOR CENTRAL-->
    <section class="hero-section d-flex justify-content-center align-items-center" id="section_content">
      <div class="container">
        <div class="row">
          <!-- Caja blanca con sombra que centra tu contenido -->
          <div class="col-lg-8 col-12 mx-auto custom-block bg-white shadow-lg">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </section>
    <!-- FIN HERO -->

  </main>

  <!-- FOOTER -->
  <footer class="site-footer section-padding">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-12 mb-4 pb-2">
          <a class="navbar-brand mb-2" href="{% url 'index' %}">
            <i class="bi bi-box navbar-icon me-2"></i>
            <span>Matriculas</span>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <h6 class="site-footer-title mb-3">Recursos</h6>
          <ul class="site-footer-links">
            <li><a href="{% url 'index' %}" class="site-footer-link">Home</a></li>
            <li><a href="{% url 'crear_matricula' %}" class="site-footer-link">Crear Matrícula</a></li>
            <li><a href="{% url 'crear_modulo' %}" class="site-footer-link">Crear Módulo</a></li>
            <li><a href="{% url 'crear_estudiante' %}" class="site-footer-link">Crear Estudiante</a></li>
            <li><a href="{% url 'modulos' %}" class="site-footer-link">Listar Módulos</a></li>
            <li><a href="{% url 'estudiantes' %}" class="site-footer-link">Listar Estudiantes</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
          <h6 class="site-footer-title mb-3">Información</h6>
          <p class="text-white mb-1"><a href="tel: 0980447819" class="site-footer-link">0980447819</a></p>
          <p class="text-white"><a href="mailto:info@matriculas.com" class="site-footer-link">info@matriculas.com</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/click-scroll.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>

</html>